.image {
  width: 1519px;
}
.containe {
  background-color: black;

  margin-top: -5px;
  color: #fff;
}
.gbemi-trabaye {
  gap: 70px;
  margin: 0px 50px;

  /* display: flex; */
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr 1fr;
}
.prop {
  color: red;
  font-size: 30px;
}
.social-link {
  color: white;
}
