.image {
  /* width: 1519px; */
  object-fit: contain;
}
.containe {
  background-color: black;

  margin-top: -5px;
  color: #fff;
}
.footer-cont {
  gap: 70px;
  margin: 0px 50px;

  border-bottom: 2px solid gray;

  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr 2fr;
}
.prop {
  color: red;
  font-size: 30px;
}
.social-links {
  color: white;
}
.social-links1 {
  color: white;
  font-size: 25px;
}
.social-links2 {
  color: white;
  font-size: 25px;
}
.social-links3 {
  color: white;
  font-size: 25px;
}
.social-links4 {
  color: white;
  font-size: 21px;
}
.social-link {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.about-us-link {
  line-height: 35px;
}
.quick-nav-link {
  line-height: 35px;
}
.quick-nav {
  font-size: 25px;
}
.button-section {
  display: flex;
  margin-top: 20px;
}
.form {
  padding: 10px 65px;
  background-color: black;
  border: 1px solid white;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.form-button {
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 700;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.contact-links {
  display: flex;
  flex-direction: column;
  line-height: 25px;
  justify-content: flex-start;
}

.contact-icons {
  color: red;
}
.first-link {
  gap: 15px;
  display: flex;
  align-items: center;
}
.second-link {
  gap: 15px;
  display: flex;
  align-items: center;
}
.last-link {
  gap: 15px;
  display: flex;
  align-items: center;
}
.copyright {
  padding: 15px 50px;
}
/* @media only screen and(min-width:1200px) { */
/* .gbemi-trabaye {
    grid-template-columns: 1.4fr 1fr 1.3fr 1.4fr;
  } */

/* .image {
    width: 1519px;
  } */
/* } */
/* @media only screen and(min-width:950px) {
  .image {
    width: 950px;
  }
}
@media only screen and(min-width:750px) {
  .image {
    width: 1519px;
  }
}

@media only screen and(min-width:500px) {
  .image {
    width: 500px;
  }
}

@media only screen and(min-width:300px) {
  .image {
    width: 3009px;
  }
} */
@media only screen and (min-width: 200px) and (max-width: 950px) {
}
@media only screen and (min-width: 200px) and (max-width: 1200px) {
  .footer-cont {
    /* flex-direction: column; */
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .image {
    display: none;
  }
}
