.bars {
  display: flex;
}
.brown {
  font-family: Apercu Pro;
  font-size: 15px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.03em;
  text-align: left;
  background-color: #fff4f4;
}
