.bars {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  /* grid-template-columns: 1fr 2fr; */
  display: flex;
  margin-bottom: 19px;
  align-items: center;
  object-fit: contain;
  overflow: hidden;
  /* grid-gap: 10px; */
}
.flex {
  display: flex;
  gap: 111px;
}
.brown {
  height: 37px;
  width: 194px;
  left: 737px;
  top: 1457px;
  border-radius: 0px;
  color: white;
  display: flex;
  align-items: center;
  background-color: #866a6a;
  padding-left: 9px;
}
.gray {
  height: 37px;
  width: 442px;
  left: 84px;
  display: flex;
  align-items: center;
  padding-left: 35px;
  top: 1457px;
  border-radius: 0px;
  background-color: #d9d9d9;
}
/* @media only screen and(max-width:1200px) {
  .flex {
    flex-direction: column;
  }
} */
@media only screen and (min-width: 200px) and (max-width: 950px) {
  .flex {
    flex-direction: column;
    gap: 70px;
  }
  .brown {
    width: 184px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 1500px) {
  .flex {
    flex-direction: column;
    gap: 70px;
  }
}
