.shift {
  background-color: red;
  gap: 343px;
  display: flex;
  width: 1260px;
  padding: 50px 95px;
}
.container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.down {
  padding-top: 86px;
}
.button {
  height: 60px;
  width: 200px;
  left: 1080px;
  top: 2104px;
  border-radius: 4px;
  background-color: #ffff;
  color: black;
}
