.red {
  background-color: red;
  height: 75.9189224243164px;
  width: 419px;
  left: 963px;
  top: 242px;
  border-radius: 12px;

  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
}

.card-items {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  gap: 25px;
}
.subtext {
  font-size: 13px;
  line-height: 16.6px;
  font-weight: 600;
}
.card-content {
  background-color: rgb(167, 117, 117);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
