.red {
  background-color: red;
  height: 75.9189224243164px;
  width: 419px;
  left: 963px;
  top: 242px;
  /* border-radius: 12px; */
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
}

.card-items {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  gap: 25px;
  /* border-bottom: 1px solid gray; */
}
.subtext {
  font-size: 13px;
  line-height: 16.6px;
  font-weight: 600;
  margin-left: 20px;
  color: red;
}
.card-content {
  /* background-color: rgb(167, 117, 117); */

  /* border-top-left-radius: 12px;
  border-top-right-radius: 12px; */
  /* border-radius: 12px; */
}
.date {
  font-size: 9px;
  line-height: 11.19px;
  font-weight: 600;
  margin-left: 111px;
}
.rectangle {
  margin-top: 11px;
  margin-left: 51px;
}
.card-buttons1 {
  height: 43.249427795410156px;
  width: 333.0001525878906px;
  left: 0px;
  top: 0px;
  border-radius: 47px;
  background: #ff0000;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
}
.card-buttons2 {
  height: 43.249427795410156px;
  width: 333.0001525878906px;
  left: 0px;
  top: 0px;
  border-radius: 47px;
  display: flex;
  justify-content: center;
  margin: auto;
  background: #ffff;
  align-items: center;
}
.border {
  /* height: 0px; */
  width: 330px;
  border-bottom: 1px solid gray;
  /* left: 1017px;
  top: 544px;
  border-radius: nullpx; */
}
.seemore {
  margin: 32.64px 50.19px;
}
