.scrollContainer {
  margin: 120px 75px;
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  overflow-x: auto;
  /* gap: 200px; */
  /* justify-content: space-between; */
  border-bottom: 1px solid red;
  /* gap: 55px; */
}
.texts {
  margin-bottom: 36px;
}
@media only screen and (max-width: 750px) {
  .scrollContainer {
    flex-direction: column;
  }
}
@media only screen and (min-width: 200px) and (max-width: 950px) {
  .scrollContainer {
    flex-direction: column;
  }
}
/* .content,
.outer-border {
  width: 240px;
  height: 150px;
  text-align: justify;
  background-color: green;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
.outer-border {
  border: 2px solid black;
  position: relative;
  overflow: hidden;
}
.inner-border {
  position: absolute;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.inner-border::-webkit-scrollbar {
  display: none;
} */
