.scrollContainer {
  margin: 10px 75px;
  display: flex;
  overflow-x: scroll;
  /* gap: 200px; */
  justify-content: space-between;
  /* gap: 55px; */
}
/* .texts{
  m
} */
.content,
.outer-border {
  width: 240px;
  height: 150px;
  text-align: justify;
  background-color: green;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
.outer-border {
  border: 2px solid black;
  position: relative;
  overflow: hidden;
}
.inner-border {
  position: absolute;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.inner-border::-webkit-scrollbar {
  display: none;
}
