.button {
  padding: 8px 25px;
  background-color: red;
  color: white;
  border-radius: 47px;
  border: none;
}
.texts {
  margin-left: 21px;
}
.box {
  /* margin-top: 61px; 
  top:1400px;*/
  position: absolute;
  top: 170px;
  /* margin-left: 25px; */
}
.box2 {
  /* margin-left: -50px;
  margin-top: 50px; */
  position: absolute;
  position: absolute;
  width: 88px;
  height: 99px;
  left: 860px;
  top: 880px;
}
.box3 {
  /* margin-left: -50px;
  margin-top: 50px; */
  position: absolute;
  position: absolute;
  width: 88px;
  height: 99px;
  left: 370px;
  top: 850px;
}
.box1 {
  /* margin-left: -50px;
  margin-top: 50px; */
  position: absolute;
  position: absolute;
  width: 88px;
  height: 99px;
  left: 800px;
  top: 840px;
}
.box4 {
  /* margin-left: -50px;
  margin-top: 50px; */
  position: absolute;
  position: absolute;
  width: 88px;
  height: 99px;
  left: 400px;
  top: 890px;
}
