.button {
  padding: 8px 25px;
  background-color: red;
  color: white;
  border-radius: 12px;
  border: none;
}
.texts {
  margin-left: 21px;
}
.box {
  margin-top: 24px;
  margin-left: 25px;
}
.box2 {
  margin-left0: -30px;
}
