.navbar-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px;
}
.nav-list {
  display: flex;
  gap: 40px;
  margin-right: 60px;
}
.btn {
  background-color: white;
  border: 1px solid black;
  padding: 8px 10px;
  font-weight: 500;
}
@media only screen and (min-width: 200px) and (max-width: 950px) {
  .nav-list {
    flex-direction: column;
    display: none;
  }
  .container {
    display: block;
  }
}
@media only screen and (max-width: 960px) {
}
.sidebar {
  background: gray;
  position: absolute;
  top: 0px;
  line-height: 70px;
  right: 0;
  /* left: 700px; */
  z-index: 100;
  width: 250px;
  height: 100%;
}
.close-menu {
  font-weight: 900;
  /* position: absolute; */
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  right: 20px;
  top: 0;
}
.sidebar-list {
  /* border-bottom: 1px solid white; */
  /* margin-left: 20px; */
  text-align: center;
}
.sidebar-btn {
  background-color: white;
  border: 1px solid black;
  padding: 8px 10px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin: auto;
}
.search {
  /* background-color: white;
  border: 1px solid black; */
  /* padding: 8px 10px; */
  /* font-weight: 500; */
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
}
.container {
  display: none;
}
